body {
    margin: auto;
    padding: 0;
}

main {
    text-align: center;
    margin: 0 auto;
}

header h1 {
    margin:  0;
    padding: 10px;
    background-color: #2d3436;
    color: aliceblue;
}

header, footer {
    text-align: center;
}
footer p {
    color: black;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: #565e60 radial-gradient(circle, transparent 1%, #2d3436 1%) center/15000%;
}
.ripple:active {
    background-color: #2d3436;
    background-size: 100%;
    transition: background 0s;
}

/* Button style */
button {
    margin: 10px;
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2d3436;
    box-shadow: 0 0 4px #999;
    outline: none;
}

textarea {
    resize : both;
    min-width : 100px;
    min-height : 100px;
    max-width : 200px;
    max-height : 200px;
}
